# Region
region = "<YOUR_REGION>"

# Health Check
health_path = "/src/app/api/heartbeat"

# ECS 
app_image      = "<AWS_ACCOUNT_ID>.dkr.ecr.<AWS_REGION>.amazonaws.com/<ECR_REPO_NAME>:<IMAGE_TAG_OR_SHA>"
desired_count  = 3 # Desired number of ECS tasks 
container_port = 3000

# Domain 
domain_name    = "<YOUR_DOMAIN>"
subdomain_name = "YOUR_SUBDOMAIN>"

acm_validation_method = "DNS"


